[submodule "avr/libraries/CocoTouch"]
	path = avr/libraries/CocoTouch
	url = git@github.com:CocoMake7Addons/CocoTouch.git
[submodule "avr/libraries/CocoSynth"]
	path = avr/libraries/CocoSynth
	url = git@github.com:CocoMake7Addons/CocoSynth.git
[submodule "avr/libraries/_8Bit-Mixtape-NEO-Lib"]
	path = avr/libraries/_8Bit-Mixtape-NEO-Lib
	url = https://github.com/8BitMixtape/_8Bit-Mixtape-NEO-Lib.git
[submodule "avr/libraries/_8BitMixtapeNEO-Examples"]
	path = avr/libraries/_8BitMixtapeNEO-Examples
	url = https://badgeek@github.com/8BitMixtape/NeoCodeExamples.git
[submodule "avr/libraries/Adafruit_NeoPixel"]
	path = avr/libraries/Adafruit_NeoPixel
	url = https://badgeek@github.com/adafruit/Adafruit_NeoPixel.git
