[submodule "avr/libraries/TeenyKeyboard"]
	path = avr/libraries/TeenyKeyboard
	url = https://github.com/TeenyRiotAddons/TeenyKeyboard.git
[submodule "avr/libraries/TeenyMidi"]
	path = avr/libraries/TeenyMidi
	url = https://github.com/TeenyRiotAddons/TeenyMidi.git
[submodule "avr/libraries/TeenyMouse"]
	path = avr/libraries/TeenyMouse
	url = https://github.com/TeenyRiotAddons/TeenyMouse.git
[submodule "avr/libraries/TeenySynth"]
	path = avr/libraries/TeenySynth
	url = https://github.com/TeenyRiotAddons/TeenySynth.git
[submodule "avr/libraries/TeenyTouch"]
	path = avr/libraries/TeenyTouch
	url = https://github.com/TeenyRiotAddons/TeenyTouch.git
